@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.circle-graphic {
  position: absolute;
  border: 2px solid #FF6F59;
  border-radius: 50%;
  z-index: 0;
  opacity: 0.6;
  transition: all 0.5s ease;
}

.circle-inner {
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 4px;
  box-shadow: 0 0 20px rgba(255, 111, 89, 0.2);
}